<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="ExcelAccountsReportView"
          class="ru.blogspot.feomatr.view.ExcelAccountsReportView">
    </bean>

    <bean id="ExcelTransactionsReportView"
          class="ru.blogspot.feomatr.view.ExcelTransactionsReportView">
    </bean>

    <bean id="ExcelClientsReportView"
          class="ru.blogspot.feomatr.view.ExcelClientsReportView">
    </bean>

    <bean id="XmlClientView"
          class="ru.blogspot.feomatr.view.XmlClientView">
    </bean>
</beans>